# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dkybreqfzbqoltqdbhex.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__ouMNSeuihCY-gI8KSG9zw_qEeyfXBm
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRreWJyZXFmemJxb2x0cWRiaGV4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE2MzY2NywiZXhwIjoyMTAzNzM5NjY3fQ.Uqq2ZIZ8ES3F0zpFSyZO7zWD_pt2h4nwq1CaszfyY2c

# AI (Future)
GEMINI_API_KEY=
